/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* <------------------------- INDEX PAGE ---------------------> */

.container {
	width: 960px;
	margin: 0 auto;
	background-color: #FFF;
}

header {
	margin-top: 25px;
	background-color: #fff;
	text-align: center;
}

header .container {
	margin-bottom: 20px;
}

.main-nav {
	margin-top: 25px;
}

.nav-item {
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}

.nav-item:nth-child(2){
	margin-left: 20px;
}

#resume {
	background-color: #ffaaaa;
    height: 280px;
    width: 307px;
    cursor: pointer;
}

#resume a {
	text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: inherit;
    font-weight: 800;
    margin-top: 40%;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}

.project {
	display: inline-block;
	float: left;
	margin: 0 0 20px 19px;
}

.row div:first-child{
	margin-left: 0px;
}	

footer {
	clear: both;
	text-align: center;
	background-color: #B1DADA;
	width: 100%;
	height: 94px;
}

footer p {
	padding-top: 40px;
	color: #8B8CC4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
  	font-size: 13px;
  	text-transform: uppercase;
}

.row {
	text-align: center;
	margin-bottom: 10px;
}

.category {
	display: inline-block;
    background: #f5f5f5;
    width: 30%;
    margin-right: 1%;
    &:last-child {
        margin-right: 0;
    }
}

.category img {
	max-width: 100%;
}

.category .cat-info {
	height: 213px;
    padding: 14px 33px 24px 33px;
    text-align: left;
}

.category .cat-info .cat-title {
    margin-bottom: 4px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}

.category .cat-info .cat-description {
	font-size: 18px;
	line-height: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-bottom: 16px;
}

.category .cat-info .learn-more-button button {
    position: relative;
    border: none;
    background: transparent;
    margin-bottom: 53px;
    padding-left: 0;
    &:focus, &:hover {
        color: $c-pink;
        outline: none;
        -webkit-transition: 200ms all ease-in-out;
        transition: 200ms all ease-in-out;
        &:after {
            border-left-color: #f6d5d5;
            -webkit-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out;
        }
    }
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 3px solid #000000;
        border-right: none;
        border-left-width: 5px;
        top: 16px;
        right: -16px;
    }
}

.category .cat-info .learn-more-button span {
    text-transform: uppercase;
    font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
} 
       
/* <------------------------- BISON PAGE CSS ---------------------> */

h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
  	font-size: 20px;
  	color: #555;
}

.ads {
	display: inline block;
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}

.ads:last-child {
	margin-bottom: 20px;
}

/* <------------------------- ABOUT PAGE CSS ---------------------> */

#bio_img {
	display: inline-block;
	float: left;
	margin: 10px 0 0 100px;
}

.bio h2 {
	float: left;
	margin-left: 40px;
	text-transform: uppercase;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
  	font-size: 20px;
  	color: #555;
}

.bio p {
	display: inline-block;
	float: left;
	margin: 10px 0 20px 40px;
	width: 450px;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: left;
	line-height: 16px;
}

/* <------------------------- GREENION PAGE CSS ---------------------> */

.video-box {
	position: relative;
	height: 400px;
	width: 960px;
}

iframe {
	position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

/* <------------------------- FHC PAGE CSS ---------------------> */

.fhc-video-box {
	position: relative;
	height: 300px;
	width: 960px;
	
}

iframe {
	position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

/* <------------------------- WEB PAGE CSS ---------------------> */

.candle {
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-left: 80px;
}

.wax-color {
	z-index: -100;
	position: absolute;
	width: 341px;
  	height: 305px;
  	bottom: 64px;
  	left: 8px;
  	background-color: #fff;
  	border-top-left-radius: 6px;
  	border-top-right-radius: 6px;
  	border-bottom-right-radius: 40px;
  	border-bottom-left-radius: 40px;
}

.product-title {
	float: left;
	margin-top: 40px;
	margin-left: 40px;
	text-transform: uppercase;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
  	font-size: 20px;
  	color: #555;
}

.product-description {
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	line-height: 20px;
  	height: 75px;
  	width: 375px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #555;
}

.fragrance_name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #555;
}

.fragrances {
  float: left;
  margin-left: 40px;
  height: 325px;
  width: 375px;
}

div .it_takes_two_to_mango {
	display: inline-block;
	float: left;
	margin-top: 15px;
	width: 69px;
	height: 60px;
	background-color: #fbb040;
	border: 1.5px solid;
  	border-color: #939393;
  	cursor: pointer; cursor: hand;
}

div .go_ahead_make_my_daisy {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 15px;
	width: 69px;
	height: 60px;
	background-color: #ffe14f;
	border: 1px solid;
  	border-color: #939393;
  	cursor: pointer; cursor: hand;
}

div .espresso_yourself {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 15px;
	width: 69px;
	height: 60px;
	background-color: #948671;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .romancing_the_scone {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 15px;
	width: 69px;
	height: 60px;
	background-color: #d4a67c;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .you_drive_me_coconuts {
	display: inline-block;
	float: left;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #9cc5ca;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .toucan_play_this_game {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #0073ae;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .oh_say_can_you_sea {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #006b6e;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .can_you_pear_me_now {
	display: inline-block;float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #b0bc22;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .thyme_and_a_half {
	display: inline-block;float: left;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #4b721d;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .did_you_ask_persimmon {
	display: inline-block;float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #fab077;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .a_walk_down_plumeria_lane {
	display: inline-block;float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #f16682;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .kiss_me_im_iris {
	display: inline-block;float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #eeb6d4;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .knock_on_wood {
	display: inline-block;float: left;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #b6b8ba;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;
}

div .ive_got_a_crush_on_yuzu {
	display: inline-block;float: left;
	margin-left: 9px;
	margin-top: 10px;
	width: 69px;
	height: 60px;
	background-color: #fff6dc;
	border: 1px solid;
	border-color: #939393;
	cursor: pointer; cursor: hand;	
}

#tabs-holder {
	float: left;
	margin-top: 25px;
	height: 300px;
	background-color: #fff;
}

#tab-container { 	
  margin-top: 40px;
  margin-left: 80px;
  font-family: "Helvetica", sans-serif;
  color: #444;
  line-height: 22px;
}

.active{
  background-color: white !important;
  position: relative;
  top: 1px;
}

#tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#tabs li {
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: medium;
  letter-spacing: 1px;
  border: 1px solid #D0D0D0;
  border-bottom: none;
  background-color: #F2F2F2;
  color: #828282;
}

#tabs li:hover {
  cursor: pointer;
}

#tabs li:not(.active):hover{
  background-color: #ECECEC;
}

#tabs li.active {
  background-color: white;
  color: #444;
}

#tab .overlay {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  border-color: 4px solid #fff;
  background-color: #fff;
}

#tabs li.active > .overlay {
  display: block;
}

#tab-content {
  padding: 15px 10px;
  border: 1px solid #D0D0D0;
}

#tab-content .tab_section:not(.active) {
  display: none;
}
